@model UserForgotPasswordViewModel

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-controller="User" asp-action="Login">Login</a></li>
        <li class="breadcrumb-item active" aria-current="page">Login</li>
    </ol>
</nav>


<h1>Account</h1>

<div class="card shadow p-4">
    <h4 class="mb-4">Forgot Password</h4>

    <form asp-action="ForgotPassword">
    
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="mb-3">
            <label asp-for="Email" class="control-label"></label>
            <input type="email" asp-for="Email" class="form-control"/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <input type="submit" value="Reset" class="btn btn-primary"/>
            <a class="btn btn-secondary" asp-controller="Home" asp-action="Index">Cancel</a>
        </div>

    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
